{{!-- {{#if user}}
<p>
Hi {{user.username}}. Let's go shopping!
</p>
{{else}}
<a href="/login">Login</a> or <a href="/register">Register</a> to create a grocery list.
{{/if}} --}}
<script>
    function randomImg(width, height) {
        document.getElementById('img-container').innerHTML = '<img src="https://source.unsplash.com/random/?perfume,music">';
    }
</script>
<div id="'homeleft">
<!--    <br/><br/><br/>-->
    {{!-- <p>Welcome to the world of scent ; )</p> --}}
    {{!-- <a href="/register">Join Now</a> --}}
    {{!-- <form action="/register">
    <input type="submit" value="Register" />
    </form> --}}
    {{!-- {{content}} --}}
</div>
<div id="pic">
    <img src="https://source.unsplash.com/random/?perfume,music" alt="home pic" width = "100%">
</div>
