
<form id="regbox" method="POST" action="">
<div class='form-row'>
    <label>Username:</label> 
    <input name="username" type="text">
</div>
<div class='form-row'>
    <label>Password:</label>
    <input name="password" type="password">
</div>
<div class='form-row'>
    <input type="submit" value="Login">
</div>
<div class='form-row'>Don't have an account? <a style="text-decoration:underline" href="/register">Register</a>.</div>
</form>


{{!-- <form action="/register" method="POST">
    <div>
        <label for="name">Username</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form> --}}